#root {
    background-color: rgb(211, 230, 229)
}

.bg-utama{
    background-color: rgb(211, 230, 229)
}

.bg-second{
    background-color: rgb(184, 202, 202)
}

.bg-second-t{
    background-color: rgba(184, 202, 202)
}

nav a.active p{
    background-color: rgb(0 0 0 / 0.5);
    color: rgb(231, 240, 239);
}  